.footer {
    background-color: #fff1e8;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    width: 100%;
    bottom: 0;
    margin-top: 3vh;
  }
  
  .footer-text {
    margin: 0;
  }
  